@import "tailwindcss";

@theme {
  --color-lime-400: #D4F537;
  --color-lime-100: #F3FBC9;

  --color-purple-500: #8B5CF6;
  --color-purple-200: #D9C9F9;
  --color-purple-100: #EFE7FC;

  --color-pink-100: #FCE4ED;
  --color-pink-400: #F472B6;

  --font-sans: var(--font-inter), sans-serif;
  --font-hand: var(--font-caveat), cursive;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
}